body,html{
	position:relative;
	height:100%;
	background:#302B22;
}
#playframe{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
}
#topmen{
	width:100%;
	background:#302B22;
	color:white;
	display:flex;
	flex-direction:row;
	align-items:center;
	-webkit-app-region: drag;
	-webkit-user-select: none;
}
#topmen .inner, #topmen .right, #topmen .left{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}

#topmen .right{
	padding-right:8px;
}
#topmen .inner *{
	-webkit-app-region: no-drag;
}
#topmen a{
	color:white;
	position:relative;
	text-decoration:none;
}
#yolk_icon{
	width:58%;
	height:auto;
}
#yolk_icon .white{
	fill:white!important;
}
#yolk_icon .yellow{
	fill:DarkOrange!important;
}
#topmen .icon, #search .cancel{
	width:50px;
	padding:0 30px 0 5px;
	cursor:pointer;
	text-align:center;
	font-size:30px;
	position:relative;
}
#search .cancel{
	padding:0;
	text-align:right;
	width:38px;
	color:tomato;
	font-size:18px;
}

#topmen .item{
	font-size:14px;
	cursor:pointer;
	display:flex;
	align-items:center;
	font-weight:bold;
}
#topmen .item.sort{
	margin-right:10px;
	opacity:.75;

}
#topmen .item.active.sort{
	opacity:1;
}
#topmen .item.active{
	color:darkorange;
}
#topmen .dir{
	width:15px;
	margin-right:10px;
	text-align:center;
}

#playwindow{

	overflow-x:hidden;
	overflow-y:scroll;
	background:url('../images/playBack.png');
	background-attachment: local;
	position:relative;
}
#loading,#spacer{
	position:absolute;
	background:#302B22;
	color:white;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:20;
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
}

#sidebar{
	position:absolute;
	right:0;
	background:white;
	color:#302B22;
	display:flex;
	flex-direction:column;
}
#sidebar .temp{
	padding:10px;
	line-height:2em;
}
#sidebar .wrap{
	flex-grow:1;
}
.album, .artist{
	position:relative;
}
.artist .inner, .album .inner{
	display:flex;
	flex-direction:row;
}
.album .image, .artist .image{
	padding:2px 4px;
	margin-right:3px;
	position:relative;
	height:100%;
	box-sizing:border-box;
	background:#302B22;

}
.album .image:hover, .artist .image:hover{
	cursor:pointer;
	background:tomato;
	padding:4px 4px;
	margin-right:3px;
	border-left:2px solid #302B22;
	border-right:2px solid #302B22;
	transition:background .5s;
}
.album .info{
	flex-grow:2;
}
.album img, .artist img{
	height:100%;
	width:auto;
	display:block;
	line-height:0;
}
#artists .drawerInner, #albums .drawerInner{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	padding:25px;
}
#artists .info, #albums .info{
	padding:15px;
	padding-left:25px;
	display:flex;
	flex-direction:column;
}
#artists .title{
	margin-bottom:3px;
	cursor:pointer;
}
.grab{
	cursor:-webkit-grab;
}
.grab:hover{
	color:red;
}
#filters .inner{
	display:flex;
	flex-direction:row;
}
#filters .item{
	width:50%;
	border:1px solid tomato;
	text-align:center;
	color:tomato;
	margin:2px;
	cursor:pointer;
	padding:10px 0;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.42);
}
#filters .item.active{
	background:tomato;
	color:white;
	font-weight:bold;
	box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.42);
}
#playlist,#filters{
	position:relative;
	padding:10px;
	box-sizing: border-box;
}
#filters{
	padding:8px;
}
#playlist .form{
	margin-bottom:20px;
	box-sizing: border-box;
	position:relative;
	width:100%;
}
#playlist .form input, #playlist .form select, #playlist .form button{
	width:100%;
	box-sizing: border-box;
	margin:2px 0;
	padding:5px;
}
#playlist .form button{
	cursor:pointer;
}
#playlist .form .modify{
	display:flex;
}
#playlist .form .spacer{
	width:10px;
}
#drop{
	padding:10px;
}
#drop .inner{
	border:dashed 2px #B3B3B3;
	color:#B3B3B3;
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:120px;
	box-sizing:border-box;
}
#drop .text{
	text-align:center;
	padding:5px;
}
#artists .bio{
	font-size:.7em;
	line-height:1.5em;
	overflow-y:hidden;
	max-width:650px;
}
#artists .bio.open{
	overflow-y:auto;
}
#artists .country{
	font-size:.7em;
	text-transform:uppercase;
	margin-bottom:8px;
}
#albums .disc {
	padding:10px;
	margin-right:10px;
	max-width:300px;

}
#albums .other_artist{
	opacity:.75;
}
#albums .title{
	cursor:pointer;
}
#albums .songs{
	font-size:.75em;
	line-height:1.5em;
}
#albums .heading{
	border-bottom:1px solid black;
	margin-bottom:15px;
	font-size:.85em;
	font-family:'Roboto';
	font-weight:700;
	line-height:2em;
}
#albums .track{
	opacity:.5;
	padding-bottom:5px;
}
#albums .number{
	min-width:25px;
}
#albums .track_row{
	display:flex;
	flex-direction:row;
}
#albums .track.active{
	opacity:1;
	cursor:pointer;
}
.album_image{
	height:100px;
	width:100px;
	margin:4px;
	position:relative;
	cursor:pointer;
	background:white;
}
.album_image img{
	width:100%;
	height:100%;
}
.album_image svg {
	padding:30px;
	box-sizing:border-box;
	width:100%;
	height:100%;
}
#tracks{
	position:relative;
	min-height:100%;
}

.track.even,.artist.even,.album.even{

	background:#E7E7E7;
}
.track.odd,.artist.odd,.album.odd{
	background:white;
}
.track .play{
	opacity:.25;
	transition:opacity .5s;

}
.play .in{
	margin-left:.08em;
}
.track .play:hover{
	opacity: .8;
}
.track.playing .play,
.track.paused .play{
	opacity:1;

}
.row{
	text-transform: capitalize;
}
.row .title{
	font-family:'Roboto';
	font-weight:700;
	position:relative;
}
.nothing .title{
	margin-left:85px;
}
.nothing .pinned{
	margin-left:10px;
	cursor:pointer;
}
.row .hover{
	cursor:pointer;
}
.info .row{
	position:relative;
	opacity:.85;
	font-weight:200;
	font-size:.85em;
	padding:4px 0;
	display:flex;
	flex-direction:row;
	align-items:center;
}
.pinned{
	color:Tomato;
	opacity:1;
}
.row .cancel,.nothing .cancel{
	display:none;
	font-size:13px;
	left:-20px;
	position:absolute;
}
.row .pinned .cancel,.nothing .cancel{
	display:inline-block;

}
.track.playing .inner,
.track.paused .inner{
	display:none;
}

.drawer{
	overflow:hidden;
	width:100%;
	transition:.5s linear height;
	background:tomato;
	color:black;
}
.nothing{
	display:flex;
	flex-direction:row;
	align-items:center;
}
#playing .play{
	color:Tomato;
}

#playing{

	width:0;
	position:absolute;

}
#playing .spacer.topped{
	display:none;
}
#playing .Top{
	box-shadow:0px 4px 5px 0px rgba(50, 50, 50, 0.58);
}
#playing .Bottom{
	box-shadow:0px -4px 5px 0px rgba(50, 50, 50, 0.58);
}
#playing .inner{
	display:block;
	background:#302B22;
	color:white;

}

.track .above,
.track .below{
	display:flex;
	flex-direction:row;
	height:60px;
}
.track .above{
	align-items:flex-end;
	padding-bottom:5px;
}
.track .below{
	align-items:flex-start;
	padding-top:5px;
}
.track .icons{
	width:50px;
	padding:0 30px 0 5px;
	cursor:pointer;
	text-align:center;
	font-size:40px;
}
.track .below .icons{
	font-size:40px;
	opacity:.5;
}
.track .below .icons:hover{
	opacity:1;
}
#widgets{
	flex-grow:1;
	align-self:stretch;
	align-items:center;
	display:flex;
	flex-direction:row-reverse;
	padding-bottom:5px;
}
.artist #widgets, .album #widgets{
	padding-top:70px;
}
#widgets .widget{
	cursor:pointer;
	margin:0 5px;
	opacity:.3;
	display:flex;
	flex-direction:row;
	align-items:center;
}
#widgets .widget.error{
	opacity:1;
	color:red;
}

#widgets div:hover{
	opacity:1;
}
#playing .scroll{
	cursor:pointer;
	font-size:20px;
	width:40px;
	text-align:center;
	color:Tomato;

}
.track .pad, .artist .pad, .album .pad{
	width:40px;
	height:100%;
}
.above .scroll{
	padding-top:10px;
	align-self:flex-start;
}
.below .scroll{
	padding-bottom:10px;
	align-self:flex-end;
}
/*
#playing .next .nextTrack{
	cursor:url('../images/playHover.ico') 16 16,auto;
	padding:0 5px;
}
*/
#seek{
	color:tomato;
	opacity:.85;
	display:flex;
	flex-grow:1;
}
#seek .inside{
	display:flex;
	flex-direction:row-reverse;
	align-items:center;
	flex-grow:1;
}
#seek .icon{
	cursor:pointer;
	padding:0 5px;
}

.track.playing .Top,
.track.paused .Top{
	position:fixed;
	top:30px;
	left:0;
	width:calc(100% - 315px);
	z-index:10;
	transition:none;

}
.track.playing .Bottom,
.track.paused .Bottom{
	position:fixed;
	bottom:0;
	left:0;
	width:calc(100% - 315px);
	z-index:10;
	transition:none;
}

.track .progressBar{
	position:relative;
	width:100%;
	background:rgba(0,0,0,.3);
	cursor:e-resize;
}
.track .progressBar.error{
	background:red;
}
.track .buffer{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-image:url('buffer.gif');
	opacity:.3;
}
.track .progress{
	height:100%;
	background:lime;
	width:0;
	transition:width 2s linear;
	cursor:w-resize;
	position:relative;
	z-index:2;
}
.track .progress.noAni{
	transition:none!important;
}
.track.paused .progress{
	background:Tomato;
}

#search{
	position:relative;
	display:flex;
	background:white;
	border-bottom:1px solid #302B22;

}

#search .left{
	display:flex;
	flex-direction:row;
	align-items:center;
	flex-grow:1;
}
#search .right{
	display:flex;
	flex-direction:row;
	font-size:25px;
	padding-right:20px;
	color:#302B22;
	position:relative;
	z-index:1000;
	height:100%;
	align-items:center;
}
#search .right .item{
	margin:0 5px;
	opacity:.4;
}
#search .right .item .inner{
	position:relative;
	width:25px;
	height:25px;
	z-index:2;
}
#search .right .item.active{
	opacity:1;
}
#search .right .item .inner div{
	position:absolute;
	top:0;
	left:0;
}
#search .right .item .throbber{
	width:25px;
	height:25px;
	margin:0;
}

#search .right .progress{
	display:none;
	position:absolute;
	z-index:1;
	top:100%;
	right:20px;
	font-size:14px;
	padding:5px;
	background:lime;
	box-shadow: 0px 0px 35px 5px rgba(0,255,0,0.85);
	color:#302B22;
}
#search .right .item:hover .progress{
	display:block;
}
#search .icon .front{
	color:#302B22;
	opacity:.4;
	font-size:20px;
	position:relative;
	z-index:2;
}
#search .active .searchfocus{
	width:25px;
	height:25px;
	background:lime;
	box-shadow: 0px 0px 25px 2px rgba(0,255,0,0.85);
	border-radius:50%;
	position:absolute;
	top:0;
	left:-3px;
}
#search .icon.search{
	position:relative;
	width:25px;
	height:25px;
	margin-left:20px;
}

#search .icon.active .front{
	cursor:pointer;
	opacity:1;
}

#search .input{
	flex-grow:1;
	display:flex;
	direction:row;
	font-size:15px;
	align-items:center;
}
#search input{
	height:100%;
	width:100%;
	display:block;
	margin:0;
	margin-left:5px;
	border:none;
	box-sizing:border-box;
	font-size:15px;
}
#search .hide{
	position:absolute;
	bottom:1000px;
}
#search input:focus {
    outline-width: 0;
}
#search .leftspace{
	display:flex;
	width:80px;
	align-items:center;
}
.anchor{
	cursor:pointer;
	height:30px;
	display:flex;
	flex-direction:row;
	align-items:center;
	padding:0 10px;
}
.anchor:hover{
	background:wheat;
}
.anchor.active:hover{
	background:tomato;
}
.anchor.active.dead{
	cursor:default;
}
.anchor.active.dead .cancel{
	opacity:.4;
}
.anchor.active{
	background:Tomato;
	color:white;
}
.anchor .cancel{
	order:2;
	display:block;
	opacity:0;
	transition:opacity .5s;
}
.anchor.active .cancel{
	opacity:1;
}
.anchor div{
	flex-grow:1;
}

#devinfo{
	background:rgba(0,0,0,.75);
	color:white;
	text-transform:none;
	font-family:monospace;
	position:absolute;
	top:100%;
	padding:20px;
	width:100%;
	box-sizing:border-box;
	overflow:hidden;
}
#devinfo pre{
	white-space: pre-wrap;
}
#youtube2{
	position:relative;
	width:100%;
	height:100%;
}
.novid {
	background:white;
	border-bottom:1px solid #302B22;
}
.novid #youtube2{
	display:none;
}
#shadow,.vid .artist{
	display:none;
}
.vid .small #shadow{
	display:block;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:1000;
	box-shadow: inset 0px 0px 61px 11px rgba(0,0,0,0.75);
	pointer-events:none;
}
.vid .small .artist{
	position:absolute;
	display:block;
	top:4px;
	right:4px;
	width:70px;
	height:70px;
	z-index:2000;
	border-radius:50%;
	border:3px solid tomato;
	overflow:hidden;
}
.vid .small .artist img{
	width:100%;
	height:100%;
}
.novid .meta{
	line-height:0;
	position:relative;
}
.novid .meta img{
	width:50%;
	height:100%;
	display:block;
	float:left;
	background:#302B22;
}
.novid .meta .shadow{
	position:absolute;
	width:50%;
	top:0;
	left:0;
	height:100%;
	box-shadow: inset 5px 5px 40px 8px rgba(0,0,0,0.5);
}
.novid .meta .shadow.right{
	left:50%;
}
#youtube-wrap{
	width:100%;
	margin-bottom:10px;
}
#fullscreen_out{
	cursor:pointer;
	position:absolute;
	top:50px;
	left:50px;
	color:white;
	width:50px;
	height:50px;
	border-radius:50%;
	background:rgba(0,0,0,.5);
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	font-size:40px;
}
#bottomspacer{
	width:100%;
	visibility:hidden;
}
.control{
	position:relative;
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:30px;
	padding:0 10px;
	box-sizing: border-box;
	cursor:default;
}
.control  .title{
	font-weight:600;
}
.switch{
	width:40px;
	height:16px;
	border:1px solid black;
	border-radius:8px;
	position:relative;
	z-index:2;
	background:#E7E7E7;
	cursor:pointer;
}
.switch .button{
	position:absolute;
	width:16px;
	height:16px;
	left:0;
	right:auto;
	background:grey;
	border-radius:50%;
	z-index:1;
	box-shadow: 2px 0 5px 0px rgba(0,0,0,0.42);
}
.switch .button.on{
	width:16px;
	height:16px;
	border:none;
	left:auto;
	right:0;
	background:lime;
	box-shadow: -2px 0 5px 0px rgba(0,0,0,0.42);
}
.track{
	position:relative;
}
.reorder{
	position:absolute;
	left:0;
	bottom:0;
}
.reorder .pad{
	height:40px;
	width:40px;
	margin:15px 8px;
	border:1px dashed #302B22;
	border-radius:10px;
}
#playing .reorder .pad{
	border-color:white;
}
