/*
Copyright 2017 Michael Jonker (http://openpoint.ie)
This file is part of The Yolk.
The Yolk is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.
The Yolk is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with The Yolk.  If not, see <http://www.gnu.org/licenses/>.
*/

body,html{
	position:relative;
	width:100%;
	height:100%;;
}
body{
	display:flex;
}
ng-view,#outer{
	position:relative;
	flex-grow:1;
	display:flex;
}
a{
	color:black;
}
#outer{
	flex-direction:column;
}
#main{
	flex-grow:1;
	display:flex;
	position:relative;
	z-index:2;
}
#topmen{
	box-shadow:4px 4px 5px 0px rgba(50, 50, 50, 0.3);
}
#sidebar{
	flex:0 0 160px;
	display:flex;
	flex-direction:column;
	border-right:1px solid #302B22;
	padding:0 10px;
	box-shadow:0px 4px 5px 4px rgba(50, 50, 50, 0.3);
	background:white;
}
#appinfo{
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	padding-bottom:10px;
	font-size:.85em;
}
#sidebar h2{
	margin-bottom:10px;
}
#sidebar p{
	font-size:.75em;
	padding:5px 0;
	opacity:.7;
	line-height:1.2em;
}
#logo{
	position:relative;
	text-align:center;
	margin-top:10px;
	display:block;
}
#yolk_icon2{
	width:90px;
	height:auto;
}
#window{
	display:flex;
	width:100%;
	flex-direction:column;
	padding:20px;
	padding-bottom:0;
}
#applications,.links{
	flex-grow:1;
	width:100%;
}

.links .open, .links .close{
	position:absolute;
	right:0;
}
#links .add{
	width:60px;
	text-align:center;
	opacity:.5;
}
#links .add.active{
	opacity:1;
	cursor:pointer;
}
#links .submit{
	display:flex;
	align-items:center;
}
#links input{
	flex-grow:1;
	padding:5px;
	border:1px solid #302B22;
	border-top:none;
}
#links input.error{
	background:#FF8C00;
}
#links input:focus{
	outline: none;
}
#support{
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}
h1{
	border-bottom:1px solid #302B22;
	padding-bottom:5px;
	font-weight:600;
	position:relative;
}
.section{
	display:flex;
	align-self:flex-start;
	flex-wrap:wrap;
	align-items:center;
	padding:10px 0;
}
.widget{
	display:flex;
	text-align:center;
	max-width:150px;
	flex-direction:column;
	align-items:center;
	color:#302B22;
	text-decoration:none;
	padding:5px 18px;

}
#support .widget, #links .widget{
	border-right:1px solid lightgrey;
	font-size:.75em;
}
.widget .icon{
	background:#302B22;
	color:white;
	width:32px;
	height:32px;
	padding:15px;
	margin-bottom:5px;
}
.widget .label{
	font-size:.8em;
}
.Widget{
	position:relative;
}
.Widget .delete{
	position:absolute;
	cursor:pointer;
	display:none;
	left:0;
	top:0;
	height:100%;
}
.Widget:hover .delete{
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.links .widget{
	flex-direction:row;
	text-align:left;
}
.links .widget img{
	width:25px;
	height:auto;
}
.links .widget .label{
	padding-left:8px;
	max-width:150px;
	line-height:1.2em;
}
.appeal{
	font-weight:200;
	font-size:.7em;
	color:grey;
}
.appeal a{
	color:#302B22;
	text-decoration:none;
}
#update{
	margin-bottom:10px;
}
#update strong{
	text-transform:uppercase;
	font-weight:900;
}
#update a{
	color:white;
	display:block;
	padding:5px;
	text-decoration:none;
	font-size:.75em;
	line-height:1.8em;
	background:#FF8C00;
}
