body,html{
	position:relative;
	width:100%;
	height:100%;
}
body{
	display:flex;
}
ng-view,#outer{
	position:relative;
	flex-grow:1;
	display:flex;
}
#outer{
	flex-direction:column;
}
#main{
	display:flex;
	flex-direction:column;
	justify-content:center;
	flex-grow:1;
}
#yolk_header{
	text-align:center;
}
#yolk_icon2{
	width:150px;
	height:auto;
	padding-bottom:2px;
}

.message{
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	position:relative;
}
.float{
	position:absolute;
	padding-top:20px;
	top:100%;
}
.log{
	font-family:Monospace;
	font-size:.85em;
	max-width:500px;
	line-height:1.5em;
	opacity:.75;
}
