<script>
	Yolk.getModule();
	Yolk.fixChrome();
</script>

<div ng-controller="musicPlayer" id='playframe'>
	<div id='topmen' ng-style="{height:dims.menHeight}">
			<div class='icon'><span class='yolk'></span><a class='icon-yolk' href='#/home'></a></div>
			<div class='item' ng-class="{active:pin.Page==='title'}" ng-click="pin.page('title')">
				<span>Track</span>
				<span class='dir'>
					<span class='icon-up2' ng-if="pin.direction.title === 'asc' && pin.Page==='title'"></span>
					<span class='icon-down2' ng-if="pin.direction.title === 'desc' && pin.Page==='title'"></span>
				</span>
			</div>
			<div class='item' ng-class="{active:pin.Page==='artist'}" ng-click="pin.page('artist')">
				<span>Artist</span>
				<span class='dir'>
					<span class='icon-up2' ng-if="pin.direction.artist === 'asc' && pin.Page==='artist'"></span>
					<span class='icon-down2' ng-if="pin.direction.artist === 'desc' && pin.Page==='artist'"></span>
				</span>
			</div>
			<div class='item' ng-class="{active:pin.Page==='album'}" ng-click="pin.page('album')">
				<span>Album</span>
				<span class='dir'>
					<span class='icon-up2' ng-if="pin.direction.album === 'asc' && pin.Page==='album'"></span>
					<span class='icon-down2' ng-if="pin.direction.album === 'desc' && pin.Page==='album'"></span>
				</span>
			</div>
			<div class='item sort' ng-class="{active:pin.Filter==='recent'}" ng-click="pin.filter('recent')">Recent</div>
			<div class='item sort' ng-class="{active:pin.Filter==='deleted'}" ng-click="pin.filter('deleted')">Deleted</div>
	</div>
	<div id='search' ng-style="{height:dims.searchHeight,width:dims.playwindowWidth}">

		<div class="icon search" ng-click='search.remoteSearch(searchTerm)' ng-class={active:goSearch}>
			<div class='icon-search front'></div>
			<div class='searchfocus'></div>
		</div>
		<div class="cancel">
			<div class="icon-cancel" ng-if="searchTerm" ng-click="pin.clear()"></div>
		</div>
		<div class='input'>
			<input ng-model="searchTerm" type='text' placeholder="Search" ng-keypress="search.remoteSearch(searchTerm,$event)" />
			<div class ='hide'></div>

		</div>
		<div class='right'>
			<div class='item' ng-class='{active:progress.youtube}'>
				<div class='inner'>
					<div ng-class='{throbber:progress.youtube}'></div>
					<div class='icon-youtube'></div>
				</div>
				<div  class='progress' ng-if="progress.youtube">Youtube:{{progress.youtube}}</div>
			</div>
			<div class='item' ng-class='{active:progress.internetarchive}'>
				<div class='inner'>
					<div ng-class='{throbber:progress.internetarchive}'></div>
					<div class='icon-internetarchive'></div>
				</div>
				<div  class='progress' ng-if="progress.internetarchive">Internet Archive:{{progress.internetarchive}}</div>
			</div>
			<div class='item' ng-class='{active:progress.musicbrainz}'>
				<div class='inner'>
					<div ng-class='{throbber:progress.musicbrainz}'></div>
					<div class='icon-musicbrainz'></div>
				</div>
				<div  class='progress' ng-if="progress.musicbrainz">Musicbrainz:{{progress.musicbrainz}}</div>
			</div>
		</div>
	</div>
	<div id='playwindow' ng-style="{width:dims.playwindowWidth, height:dims.playwindowHeight}">
		<div id = 'loading' class='ani-fOut' ng-if="!settings.paths.musicDir">
			<div ng-click='fileSelect()'>Select your music folder</div>
		</div>

		<div id='tracks' ng-show="settings.paths.musicDir">


			<div id="artists" ng-if="pin.Page === 'artist'">
				<div ng-style="{height:lazy.trackHeight}" class='nothing row' ng-if = "!lib.artists.length">
					<div class='title'>
						No artists found
						<span ng-if="tools.terms(searchTerm).prefix" class='pinned' ng-click="pin.prefix(tools.terms(searchTerm).prefix)"><span class='icon-cancel'></span> {{tools.terms(searchTerm).prefix}}</span>
						<span ng-if="tools.terms(searchTerm).artist" class='pinned' ng-click="pin.artist(tools.terms(searchTerm).artist)"><span class='icon-cancel'></span> {{tools.terms(searchTerm).artist}}</span>
					</div>
				</div>
				<div ng-repeat="artist in lib.artists" class='row'>
					<div class='artist'
						ng-class="artist.filter.zebra"
					>
						<div class='inner' ng-style="{height:lazy.trackHeight}">
							<div class='image' ng-click = 'tracks.drawer(artist)' ng-style="{height:lazy.trackHeight}">
								<img cat="artist" ng-src="{{artist.image}}" yolk-thumb />
							</div>
							<div class='info'>
								<div class='title' ng-click="pin.artist(artist.name)" ng-class="{'pinned':pin.pinned.artist.toLowerCase() === artist.name.toLowerCase()}">
									<span class='cancel icon-cancel'></span>
									{{lib.bios[artist.id].title || artist.name}}
								</div>
								<div class='country' yolk-country>{{countries[artist.country]}}</div>
								<div class='bio' ng-class="{open:lib.drawers[pin.Page][artist.id].state}">{{lib.bios[artist.id].bio}}</div>

							</div>
							<div id='widgets'>
								<div class = "widget"  ng-if="artist.deleted === 'no'" ng-click="tracks.delete(artist,false,true)">
									<div class='icon-cancel'></div>
								</div>
								<div class = "widget" ng-if="artist.deleted === 'yes' || pin.Filter==='recent'"  ng-click="tracks.undelete(artist,false,true)">
									<div>{{utils.dateDiff(false,artist.date,'ago')}}&nbsp;&nbsp;</div>
									<div ng-if="artist.deleted === 'yes'" class='icon-tick'></div>
								</div>
							</div>
							<div class='pad'></div>
						</div>

						<div class='drawer'  id="drawer{{artist.id}}">
							<div class='drawerInner ani-fOut' ng-if="lib.drawers[pin.Page][artist.id].state">
								<div ng-repeat="album in lib.drawers[pin.Page][artist.id].albums" class="album_image" >
										<img cat="album" ng-src="{{album.image}}" yolk-album ng-if="album.id!=='youtube'" ng-click="pin.tracks(artist.name,album.name,'album')"/>
										<span class='youtube' ng-include ="'core/lib/css/icons/youtube.svg'" ng-if="album.id==='youtube'"  ng-click="pin.tracks(artist.name,album.name,'title')"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="albums" ng-if="pin.Page === 'album'">
				<div ng-style="{height:lazy.trackHeight}" class='nothing row' ng-if = "!lib.albums.length">
					<div class='title'>
						No albums found
						<span ng-if="tools.terms(searchTerm).prefix" class='pinned' ng-click="pin.prefix(tools.terms(searchTerm).prefix)"><span class='icon-cancel'></span> {{tools.terms(searchTerm).prefix}}</span>
						<span ng-if="tools.terms(searchTerm).artist" class='pinned' ng-click="pin.artist(tools.terms(searchTerm).artist)"><span class='icon-cancel'></span> {{tools.terms(searchTerm).artist}}</span>
						<span  ng-if="tools.terms(searchTerm).album" class='pinned' ng-click="pin.album(tools.terms(searchTerm).album)"><span class='icon-cancel'></span> {{tools.terms(searchTerm).album}}</span>
					</div>
				</div>
				<div ng-repeat="album in lib.albums" class= 'row'>

					<div class='album'
						ng-class="album.filter.zebra"
					>
						<div class='inner' ng-style="{height:lazy.trackHeight}">
							<div class='image'  ng-click = 'tracks.drawer(album)' ng-style="{height:lazy.trackHeight}">
								<img cat="album" ng-src="{{album.image}}" yolk-thumb onerror=""/>
							</div>
							<div class='info'>
								<div class='title' ng-click="pin.album(album.metadata.title)" ng-class="{'pinned':pin.pinned.album.toLowerCase() === album.metadata.title.toLowerCase()}">
									<span class='cancel icon-cancel'></span>
									{{album.metadata.title}} {{utils.date(album.release_date)}}
								</div>
								<div class='row artist' ng-click="pin.artist(album.metadata.artist)" ng-class="{'pinned':pin.pinned.artist.toLowerCase() === album.metadata.artist.toLowerCase()}">
									<span class='cancel icon-cancel'></span>
									{{album.metadata.artist}}
								</div>
							</div>


							<div id='widgets'>
								<div class = "widget"  ng-if="album.deleted === 'no'" ng-click="tracks.delete(album,false,true)">
									<div class='icon-cancel'></div>
								</div>
								<div class = "widget" ng-if="album.deleted === 'yes' || pin.Filter==='recent'" ng-click="tracks.undelete(album,false,true)">
									<div>{{utils.dateDiff(false,album.date,'ago')}}&nbsp;&nbsp;</div>
									<div ng-if="album.deleted === 'yes'" class='icon-tick'></div>
								</div>
							</div>
							<div class='pad'></div>
						</div>
						<div class='drawer' id="drawer{{album.id}}">
							<div class='drawerInner ani-fOut'  ng-if="lib.drawers[pin.Page][album.id].state">
								<div class="disc" ng-repeat = "disc in lib.drawers[pin.Page][album.id].discs">
									<div class='heading'>Disc {{$index+1}}</div>
									<div class='songs'>
										<div ng-repeat = "track in disc"  ng-click="
										audio.play(lib.drawers[pin.Page][album.id].tracks[track.id])
										" class='track_row'>
											<div class='number'>{{$index+1}}: </div>
											<div class='track' ng-class="{active:lib.drawers[pin.Page][album.id].tracks[track.id].type}">
												{{lib.drawers[pin.Page][album.id].tracks[track.id].metadata.title||track.title}}
												<span ng-if="
												tools.strim(album.metadata.artist) !== tools.strim(lib.drawers[pin.Page][album.id].tracks[track.id].metadata.artist.toLowerCase())
												" class='other_artist'>: {{lib.drawers[pin.Page][album.id].tracks[track.id].metadata.artist}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id='titles' ng-if="pin.Page==='title'">
				<div ng-style="{height:lazy.trackHeight}" class='nothing row' ng-if = "!lib.tracks.length">
					<div class='title'>
						No tracks found
						<span ng-if="tools.terms(searchTerm).prefix" class='pinned' ng-click="pin.prefix(tools.terms(searchTerm).prefix)"><span class='icon-cancel'></span> {{tools.terms(searchTerm).prefix}}</span>
						<span ng-if="tools.terms(searchTerm).artist" class='pinned' ng-click="pin.artist(tools.terms(searchTerm).artist)"><span class='icon-cancel'></span> {{tools.terms(searchTerm).artist}}</span>
						<span  ng-if="tools.terms(searchTerm).album" class='pinned' ng-click="pin.album(tools.terms(searchTerm).album)"><span class='icon-cancel'></span> {{tools.terms(searchTerm).album}}</span>
						<span  ng-if="tools.terms(searchTerm).title" class='pinned' ng-click="pin.album(tools.terms(searchTerm).title)"><span class='icon-cancel'></span> {{tools.terms(searchTerm).title}}</span>
					</div>
				</div>
				<div ng-repeat="track in lib.tracks track by track.id" class='ani-fIn row'>
					<div class='track'
						ng-class="track.filter.zebra"
						ng-style="{
							height: track.state ? lazy.playingHeight : lazy.trackHeight
						} "
						>
						<div class='inner' ng-if="!track.state">
							<div class='above'>
								<div class='icons' ng-click="audio.play(track)">
									<div class='play icon icon-play'></div>
								</div>
								<div class='title' drag-container="true" drag-data="track" on-drag-start="ctl.handleDragStart($event,$dragData)">{{::track.metadata.title || track.file}}</div>
							</div>
							<div class='below'>
								<div class='icons'>

								</div>
								<div class='info'>
									<div class='artist row' ng-if="track.metadata.artist" ng-click="pin.artist(track.metadata.artist)" ng-class="{'pinned':pin.pinned.artist.toLowerCase() === track.metadata.artist.toLowerCase()}">
										<span class='cancel icon-cancel'></span>
										{{track.metadata.artist}}
									</div>
									<div class='row' ng-if='!track.metadata.artist'>
										[Artist unknown]
									</div>
									<div class='album row' ng-if="track.metadata.album"  ng-click="pin.album(track.metadata.album)" ng-class="{'pinned':pin.pinned.album.toLowerCase() === track.metadata.album.toLowerCase()}">
										<span class='cancel icon-cancel'></span>
										{{track.metadata.album}}
									</div>
									<div class='row' ng-if='!track.metadata.album'>
										[Album unknown]
									</div>
								</div>
								<div id='widgets'>
									<div class = "widget"  ng-if="track.deleted === 'no'" ng-click="tracks.delete(track)">
										<div class='icon-cancel'></div>
									</div>
									<div class = "widget" ng-if="track.deleted === 'yes' || pin.Filter==='recent'" ng-click="tracks.undelete(track)">
										<div>{{utils.dateDiff(false,track.date,'ago')}}&nbsp;&nbsp;</div>
										<div ng-if="track.deleted === 'yes'" class='icon-tick'></div>

									</div>
								</div>
								<div class='pad'></div>
							</div>

						</div>
						<div class='bottom'></div>
					</div>

				</div>
			</div>
			<div id='bottomspacer' ng-style="{height:lazy.trackHeight+lazy.progressHeight}" ng-if="lib.playing.Bottom"></div>
			<div id='playing' class='track ani-fIn row'

				ng-if = "lib.playing"
				ng-style="{
					height:lazy.trackHeight+lazy.progressHeight,
					top:lib.playing.top,

				}"
				ng-class="{
					playing:lib.playing.state === 'playing',
					paused:lib.playing.state === 'paused',
				}"
			>

				<div class='inner'
					ng-style="{
						width:dims.playwindowWidth - dims.scroller
					}"
				>

					<div class='above'>
						<div class='icons' ng-click="audio.play(lib.playing)">
							<div ng-show="lib.playing.state==='paused'" class='play icon icon-play'></div>
							<div ng-show="lib.playing.state==='playing'" class='pause icon icon-pause'></div>
						</div>
						<div class='title'>{{lib.playing.filter.pos}} {{lib.playing.metadata.title || lib.playing.file}}</div>
						<div id='seek' ng-if="lib.next">
							<div class="icon icon-next" ng-click="audio.play(lib.next)" ng-mouseover="lib.nextshow=true" ng-mouseleave="lib.nextshow=false"></div>
							<div class="icon icon-previous" ng-click="audio.play(lib.previous)" ng-mouseover="lib.prevshow=true" ng-mouseleave="lib.prevshow=false"></div>
							<div class='nextTrack' ng-show="lib.nextshow">{{lib.next.metadata.title}}</div>
							<div class='prevTrack' ng-show="lib.prevshow">{{lib.previous.metadata.title}}</div>
						</div>
						<div class='scroll'>
							<div class='up icon-up' ng-click="lazy.Scroll('up')"
							ng-if="lib.playing.Bottom && lazy.spacer"></div>
						</div>
					</div>
					<div class='progressBar' ng-click="audio.seek($event)" ng-style="{height:lazy.progressHeight}">
						<div class='progress'
							ng-class="{noAni:!lib.playing.ani}"
						></div>
					</div>
					<div class='below'>
						<div class='icons'>
							<div class='icon-fullscreen_in' ng-click="fullscreen()" ng-if="lib.playing.type==='youtube'"></div>
						</div>
						<div class='info'>
							<div class='artist row' ng-click="pin.artist(lib.playing.metadata.artist)" ng-class="{'pinned':pin.pinned.artist.toLowerCase() === lib.playing.metadata.artist.toLowerCase()}">
								<span class='cancel icon-cancel'></span>
								{{lib.playing.metadata.artist || '[Unknown]'}}
							</div>
							<div class='album row' ng-click="pin.album(lib.playing.metadata.album)" ng-class="{'pinned':pin.pinned.album.toLowerCase() === lib.playing.metadata.album.toLowerCase()}">
								<span class='cancel icon-cancel'></span>
								{{lib.playing.metadata.album || '[Unknown]'}}
							</div>
						</div>
						<div id='widgets'>
							<div class='widget' ng-click="dev()">
								<div class='icon-settings'></div>
							</div>
							<div class='widget'  ng-if="lib.playing.deleted === 'no'" ng-click="tracks.delete(lib.playing,true)">
								<div class='icon-cancel'></div>
							</div>
							<div class='widget'  ng-if="lib.playing.deleted === 'yes'" ng-click="tracks.undelete(lib.playing,true)">
								<div>{{utils.dateDiff(false,lib.playing.date,'ago')}}&nbsp;&nbsp;</div>
								<div class='icon-tick'></div>
							</div>
						</div>
						<div class='scroll'>
							<div class='down icon-down' ng-click="lazy.Scroll('down')"
							ng-if="lib.playing.Top && lazy.spacer"></div>
						</div>
					</div>
					<div id='devinfo' ng-if="dims.dev" ng-style="{width:dims.playwindowWidth-dims.scroller}"><pre>{{lib.devinfo}}</pre></div>
				</div>

			</div>
		</div>
	</div>
	<div id='sidebar' ng-style="{width:dims.sidebarWidth, height:dims.sidebarHeight, top:dims.menHeight}">
		<div class='wrap'>
			<div id='youtube-wrap' ng-mousemove="fader()" ng-style="{
					height:dims.vidheight||'auto',
					minHeight:dims.menHeight
				}" ng-class="{
					novid:!lib.playing.youtube,
					vid:lib.playing.youtube
				}">
				<div ng-style="{
					width:dims.sidebarWidth,
					height:dims.sidebarWidth/2
				}" ng-if="lib.playing && !lib.playing.youtube" class='meta'>
					<img ng-src="{{imagePath('artist',lib.playing.artist)||lib.noart}}" />
					<img ng-src="{{imagePath('album',lib.playing.album)||lib.noart}}" />
					<div class='shadow'></div>
					<div class='shadow right'></div>
				</div>
				<div id='youtube2' class='small'>
					<webview style="width:100%; height:100%;" id="youtube" httpReferrer="http://youtube.com" ng-src="{{lib.playing.embed}}" preload="./core/modules/musicPlayer/lib/tools/youtube.js"></webview>
					<div id='fullscreen_out' ng-click="fullscreen()" ng-if="isfullscreen">
						<div class='icon-fullscreen_out'></div>
					</div>
					<div id='shadow'></div>
				</div>
			</div>
			<div class='anchor'
				ng-click="pin.source('local')"
				ng-class = "{
					active:pin.pinned.sources.indexOf('local') > -1,
					dead:pin.pinned.sources.length === 1
				}"
			>
				<span class='cancel icon-cancel'></span>
				<div>Local</div>
			</div>
			<div class='anchor'
				ng-click="pin.source('internetarchive')"
				ng-class = "{
					active:pin.pinned.sources.indexOf('internetarchive') > -1,
					dead:pin.pinned.sources.length === 1
				}"
			>
				<span class='cancel icon-cancel'></span>
				<div>Online</div>
			</div>
			<div class='anchor'
				ng-click="pin.source('youtube')"
				ng-class = "{
					active:pin.pinned.sources.indexOf('youtube') > -1,
					dead:pin.pinned.sources.length === 1
				}"
			>
				<span class='cancel icon-cancel'></span>
				<div>Youtube</div>
			</div>
			<div id = playlist ng-style="{width:dims.sidebarWidth}">
				<div class='input'>
					<input ng-model="tracks.playlist.new" type='text' placeholder="Create a playlist" ng-keypress="tracks.addPlaylist(tracks.playlist.new,$event)" />
				</div>
				<select name='playlist' id='playlist' ng-model="tracks.playlist.selected" ng-options="option.name for option in tracks.playlist.options track by option.id"></select>
				<div>{{tracks.playlist.selected.name}}</div>
				<div id='drop' drop-container on-drop="ctl.onDrop($event, $dragData)"></div>
			</div>
			<!--
			<div class='anchor'
				ng-click="pin.pin('source','torrents')"
				ng-class = "{
					active:pinned.sources.indexOf('torrents') > -1,
					dead:pinned.sources.length === 1 && pinned.sources[0]!=='suggestions'
				}"
			>
				<span class='cancel icon-cancel'></span>
				<div>Torrents</div>
			</div>
			<div class='anchor'
				ng-click="pin.pin('source','suggestions')"
				ng-class = "{active:pinned.sources.indexOf('suggestions') > -1}"
			>
				<span class='cancel icon-cancel'></span>
				<div>Suggestions</div>
			</div>
		-->
		</div>
		<div class='temp'>
			<div ng-click='nuke()'>NUKE!</div>
			<div onClick="Yolk.remote('chrome')('devtools')">Tools</div>
		</div>
	</div>
</div>
