<script>
	Yolk.getModule();
	Yolk.fixChrome();
</script>

<div ng-controller="musicPlayer" id='playframe'>
	<div id='topmen' ng-style="{height:dims.menHeight}">
			<div class='icon'><span class='yolk'></span><a class='icon-yolk' href='#/home'></a></div>
			<div class='item' ng-class="{active:Sort==='title'}" ng-click="sort('metadata.title','raw'); Sort='title'">Title</div>
			<div class='item' ng-class="{active:Sort==='artist'}" ng-click="sort('metadata.artist','raw'); Sort='artist'">Artist</div>
			<div class='item' ng-class="{active:Sort==='album'}" ng-click="sort('metadata.album','raw'); Sort='album'">Album</div>
			<div class='item' ng-class="{active:Sort==='recent'}" ng-click="sort('date',false); Sort='recent'">Recent</div>
			<div class='item' ng-class="{active:Sort==='deleted'}" ng-click="sort('date',false,true); Sort='deleted'">Deleted</div>
	</div>
	<div id='search' ng-style="{height:dims.searchHeight,width:dims.playwindowWidth}">
		<div class="icon search" ng-click='search.remoteSearch(searchTerm)' ng-class={active:goSearch}>
			<div class='icon-search front'></div>
			<div class='searchfocus'></div>
		</div>

		<div class='input'>
			<input ng-model="searchTerm" type='text' placeholder="Search" ng-keypress="search.remoteSearch(searchTerm,$event)" />
			<div class ='hide'></div>
			<div class="icon icon-cancel active cancel" ng-if="searchTerm" ng-click="search.clear()"></div>
		</div>
		<div class='right'>
			<div class='item' ng-class='{active:progress.youtube}'>
				<div class='inner'>
					<div ng-class='{throbber:progress.youtube}'></div>
					<div class='icon-youtube'></div>
				</div>
				<div  class='progress' ng-if="progress.youtube">Youtube:{{progress.youtube}}</div>
			</div>
			<div class='item' ng-class='{active:progress.internetarchive}'>
				<div class='inner'>
					<div ng-class='{throbber:progress.internetarchive}'></div>
					<div class='icon-internetarchive'></div>
				</div>
				<div  class='progress' ng-if="progress.internetarchive">Internet Archive:{{progress.internetarchive}}</div>
			</div>
			<div class='item' ng-class='{active:progress.musicbrainz}'>
				<div class='inner'>
					<div ng-class='{throbber:progress.musicbrainz}'></div>
					<div class='icon-musicbrainz'></div>
				</div>
				<div  class='progress' ng-if="progress.musicbrainz">Musicbrainz:{{progress.musicbrainz}}</div>
			</div>
		</div>
		<div id='mask' ng-if='!sources.length'></div>
	</div>
	<div id='playwindow' ng-style="{width:dims.playwindowWidth, height:dims.playwindowHeight}">
		<div id = 'loading' class='ani-fOut' ng-if="!settings.paths.musicDir">
			<div ng-click='fileSelect()'>Select your music folder</div>
		</div>

		<div id='tracks' ng-style="{paddingTop:lazy.paddingTop,paddingBottom:lazy.paddingBottom}" ng-show="settings.paths.musicDir">

			<div class='ani-height' ng-if="!spacer" ng-style="{height:lazy.trackHeight+lazy.progressHeight,width:'100%'}"></div>
			<div ng-repeat="track in lib.tracks track by track.id" class='ani-fIn'>
				<div class='track'
					ng-class="track.filter.zebra"
					ng-style="{
						height: track.state ? lazy.playingHeight : lazy.trackHeight
					} ">
					<div class='inner' ng-if="!track.state">
						<div class='above'>
							<div class='icons' ng-click="audio.play(track)">
								<div class='play icon icon-play'></div>
							</div>
							<div class='title'>{{::track.metadata.title || track.file}}</div>
						</div>
						<div class='below'>
							<div class='icons'>

							</div>
							<div class='info'>
								<div class='artist row' ng-if="track.metadata.artist" ng-click="pin.pin('artist',track.metadata.artist)" ng-class="{'pinned':pinned.artist === track.metadata.artist}">
									<span class='cancel icon-cancel'></span>
									{{::track.metadata.artist}}
								</div>
								<div class='row' ng-if='!track.metadata.artist'>
									[Artist unknown]
								</div>
								<div class='album row' ng-if="track.metadata.album"  ng-click="pin.pin('album',track.metadata.album)" ng-class="{'pinned':pinned.album === track.metadata.album}">
									<span class='cancel icon-cancel'></span>
									{{::track.metadata.album}}
								</div>
								<div class='row' ng-if='!track.metadata.album'>
									[Album unknown]
								</div>
							</div>
							<div id='widgets'>
								<div class = "widget"  ng-if="track.deleted === 'no'" ng-click="tracks.delete(track.type,track.id)">
									<div class='icon-cancel'></div>
								</div>
								<div class = "widget" ng-if="track.deleted === 'yes' || Sort === 'recent'" ng-click="tracks.undelete(track.type,track.id)">
									<div>{{utils.dateDiff(false,track.date,'ago')}}&nbsp;&nbsp;</div>
									<div ng-if="track.deleted === 'yes'" class='icon-tick'></div>

								</div>
							</div>
							<div class='pad'></div>
						</div>

					</div>
					<div class='bottom'></div>
				</div>

			</div>
			<div id='playing' class='track ani-fIn'

				ng-if = "lib.playing"
				ng-style="{
					height:lazy.trackHeight+lazy.progressHeight,
					top:lib.playing.top,

				}"
				ng-class="{
					playing:lib.playing.state === 'playing',
					paused:lib.playing.state === 'paused',
				}"
			>
				<div class='spacer ani-height' ng-class="{topped:lib.playing.top === 0}" ng-if="!spacer" ng-style="{height:lazy.trackHeight+lazy.progressHeight,width:'100%'}"></div>
				<div class='inner'
					ng-style="{
						width:dims.playwindowWidth - dims.scroller
					}"
				>

					<div class='above'>
						<div class='icons' ng-click="audio.play(lib.playing)">
							<div ng-show="lib.playing.state==='paused'" class='play icon icon-play'></div>
							<div ng-show="lib.playing.state==='playing'" class='pause icon icon-pause'></div>
						</div>
						<div class='title'>{{lib.playing.metadata.title || lib.playing.file}}</div>
						<div class='next' ng-if="lib.playing.Pinned">
							<div class="icon icon-next"></div>
							<div class='nextTrack' ng-click="audio.play(nowTracks[lib.playing.filter.pos+1]||nowTracks[0])">{{nowTracks[lib.playing.filter.pos+1].metadata.title || nowTracks[0].metadata.title }}</div>
							<div class="icon icon-previous"></div>

						</div>
						<div class='scroll'>
							<div class='up icon-up' ng-click="lazy.Scroll('up')"
							ng-if="lib.playing.Bottom && spacer"></div>
						</div>
					</div>
					<div class='progressBar' ng-click="audio.seek($event)" ng-style="{height:lazy.progressHeight}">
						<div class='progress'
							ng-class="{noAni:!lib.playing.ani}"
						></div>
					</div>
					<div class='below'>
						<div class='icons'>
							<div class='icon-fullscreen_in' ng-click="fullscreen()" ng-if="lib.playing.type==='youtube'"></div>
						</div>
						<div class='info'>
							<div class='artist row' ng-click="pin.pin('artist',lib.playing.metadata.artist)" ng-class="{'pinned':pinned.artist === lib.playing.metadata.artist}">
								<span class='cancel icon-cancel'></span>
								{{lib.playing.metadata.artist || '[Unknown]'}}
							</div>
							<div class='album row' ng-click="pin.pin('album',lib.playing.metadata.album)" ng-class="{'pinned':pinned.album === lib.playing.metadata.album}">
								<span class='cancel icon-cancel'></span>
								{{lib.playing.metadata.album || '[Unknown]'}}
							</div>
						</div>
						<div id='widgets'>
							<div class='widget' ng-click="dev()">
								<div class='icon-settings'></div>
							</div>
							<div class='widget'  ng-if="lib.playing.deleted === 'no'" ng-click="tracks.delete(lib.playing.type,lib.playing.id,true)">
								<div class='icon-cancel'></div>
							</div>
							<div class='widget'  ng-if="lib.playing.deleted === 'yes'" ng-click="tracks.undelete(lib.playing.type,lib.playing.id,true)">
								<div>{{utils.dateDiff(false,lib.playing.date,'ago')}}&nbsp;&nbsp;</div>
								<div class='icon-tick'></div>
							</div>
						</div>
						<div class='scroll'>
							<div class='down icon-down' ng-click="lazy.Scroll('down')"
							ng-if="lib.playing.Top && spacer"></div>
						</div>
					</div>
					<div id='devinfo' ng-if="dims.dev"><pre>{{lib.devinfo}}</pre></div>
				</div>

			</div>
		</div>
	</div>
	<div id='sidebar' ng-style="{width:dims.sidebarWidth, height:dims.sidebarHeight, top:dims.menHeight}">
		<div class='wrap'>
			<div id='youtube-wrap' ng-mousemove="fader()" ng-style="{
					height:dims.vidheight||'auto',
					minHeight:dims.menHeight
				}" ng-class="{
					novid:!lib.playing.youtube,
					vid:lib.playing.youtube
				}">
				<div ng-style="{
					width:dims.sidebarWidth,
					height:dims.sidebarWidth/2
				}" ng-if="lib.playing && !lib.playing.youtube" class='meta'>
					<img ng-src="{{imagePath('artists',lib.playing.artist||false)}}" />
					<img ng-src="{{imagePath('albums',lib.playing.album||false)}}" />
					<div class='shadow'></div>
					<div class='shadow right'></div>
				</div>
				<div id='youtube2' class='small'>
					<webview style="width:100%; height:100%;" id="youtube" httpReferrer="http://youtube.com" ng-src="{{lib.playing.embed}}" preload="./core/modules/musicPlayer/lib/tools/youtube.js"></webview>
					<div id='fullscreen_out' ng-click="fullscreen()" ng-if="isfullscreen">
						<div class='icon-fullscreen_out'></div>
					</div>
					<div id='shadow'></div>
					<div class='artist'><img ng-src="{{imagePath('artists',lib.playing.artist||false) || false}}" /></div>

				</div>
			</div>
			<div class='anchor'
				ng-click="pin.pin('source','local')"
				ng-class = "{
					active:pinned.sources.indexOf('local') > -1,
					dead:pinned.sources.length === 1 && pinned.sources[0]!=='suggestions'
				}"
			>
				<span class='cancel icon-cancel'></span>
				<div>Local</div>
			</div>
			<div class='anchor'
				ng-click="pin.pin('source','online')"
				ng-class = "{
					active:pinned.sources.indexOf('online') > -1,
					dead:pinned.sources.length === 1 && pinned.sources[0]!=='suggestions'
				}"
			>
				<span class='cancel icon-cancel'></span>
				<div>Online</div>
			</div>
			<!--
			<div class='anchor'
				ng-click="pin.pin('source','torrents')"
				ng-class = "{
					active:pinned.sources.indexOf('torrents') > -1,
					dead:pinned.sources.length === 1 && pinned.sources[0]!=='suggestions'
				}"
			>
				<span class='cancel icon-cancel'></span>
				<div>Torrents</div>
			</div>
			<div class='anchor'
				ng-click="pin.pin('source','suggestions')"
				ng-class = "{active:pinned.sources.indexOf('suggestions') > -1}"
			>
				<span class='cancel icon-cancel'></span>
				<div>Suggestions</div>
			</div>
		-->
		</div>
		<div class='temp'>
			<div ng-click='db.nuke()'>NUKE!</div>
			<div onClick="Yolk.remote('chrome')('devtools')">Tools</div>
		</div>
	</div>
</div>
