<script>
	Yolk.getModule();
	Yolk.fixChrome();
</script>

<div ng-controller="musicPlayer" id='playframe'>	
	<div id='topmen' ng-style="{height:dims.menHeight}">
			<div class='icon'><a class='icon-home' href='#/home'></a></div>
			<div class='item' ng-click="sort('metadata.title','raw')">Title</div>
			<div class='item' ng-click="sort('metadata.artist','raw')">Artist</div>
			<div class='item' ng-click="sort('metadata.album','raw')">Album</div>
			<div class='item' ng-click="sort('date')">Recent</div>	
	</div>
	<div id='search' ng-style="{height:dims.searchHeight,width:dims.playwindowWidth}">
		<div class="icon icon-search"></div>
		<input ng-model="searchTerm" type='text' placeholder="Search"/>
		<div id='mask' ng-if='!sources.length'></div>
	</div>
	<div id='playwindow' ng-style="{width:dims.playwindowWidth, height:dims.playwindowHeight}">
		<div id = 'loading' class='ani-fOut' ng-if="!settings.paths.musicDir">
			<div class='throbber'></div>
			<div ng-if='!dbReady && installed.done'>Connecting</div>
			<div ng-if='!installed.done && !dbReady'>
				<div>{{installed.message}}</div>
				<div class='progress'>{{installed.progress}}</div>
			</div>
			<div ng-if='!settings.paths.musicDir' ng-click='fileSelect()'>Select your music folder</div>
		</div>

		<div id='tracks' ng-show='dbReady && settings.paths.musicDir' ng-style="{paddingTop:lazy.paddingTop,paddingBottom:lazy.paddingBottom}">

			<div ng-if="lib.playing.spacer" ng-style="{height:lazy.trackHeight+lazy.progressHeight,width:'100%'}"></div>
			<div ng-repeat="track in lib.tracks track by track.id" class='ani-fIn'>
				<div class='track' 
					ng-class="track.state"
					ng-class="track.filter.zebra"  
					ng-style="{ 
						height: track.state ? lazy.playingHeight : lazy.trackHeight 
					} ">
					<div class='inner' ng-if="!track.state">
						<div class='above'>
							<div class='icons' ng-click="audio.play(track)">
								<div class='play icon icon-play'></div>
							</div>
							<div class='title'><!--{{track.filter.pos}}--> {{::track.metadata.title || track.file}}</div>
							<!-- <div>{{track.query}}</div>
							<div>{{track.file}}</div> -->					
						</div>	
						<div class='below'>	
							<div class='icons'>
								
							</div>
							<div class='info'>				
								<div class='artist row' ng-if="track.metadata.artist" ng-click="pin.pin('artist',track.metadata.artist)" ng-class="{'pinned':pinned.artist === track.metadata.artist}">
									<span class='cancel icon-cancel'></span>
									{{::track.metadata.artist}}
								</div>
								<div class='row' ng-if='!track.metadata.artist'>
									[Artist unknown]
								</div>	
								<div class='album row' ng-if="track.metadata.album"  ng-click="pin.pin('album',track.metadata.album)" ng-class="{'pinned':pinned.album === track.metadata.album}">
									<span class='cancel icon-cancel'></span>
									{{::track.metadata.album}}
								</div>
								<div class='row' ng-if='!track.metadata.album'>
									[Album unknown]
								</div>
							</div>
						</div>			
					
					</div>
					<div class='bottom'></div>
				</div>
				
			</div>
			<div id='playing' class='track ani-fIn'
				ng-if = "lib.playing"
				ng-style="{
					height:lazy.trackHeight+lazy.progressHeight,
					top:lib.playing.top,
					
				}" 
				ng-class="{
					playing:lib.playing.state === 'playing',
					paused:lib.playing.state === 'paused',
				}"
			>
				<div class='inner' 
					ng-style="{
						width:dims.playwindowWidth - dims.scroller
					}"
				>
					
					<div class='above'>
						<div class='icons' ng-click="audio.play(lib.playing)">
							<div ng-show="lib.playing.state==='paused'" class='play icon icon-play'></div>
							<div ng-show="lib.playing.state==='playing'" class='pause icon icon-pause'></div>
						</div>
						<div class='title'>{{lib.playing.filter.pos}} {{lib.playing.metadata.title || lib.playing.file}}</div>
						<div class='next' ng-if="lib.playing.Pinned">
							<div class="icon icon-next"></div>
							<div class='nextTrack' ng-click="audio.play(nowTracks[lib.playing.filter.pos+1]||nowTracks[0])">{{nowTracks[lib.playing.filter.pos+1].metadata.title || nowTracks[0].metadata.title }}</div>
							<div class="icon icon-previous"></div>
							
						</div>
						<div class='scroll'>
							<div class='up icon-up' ng-click="lazy.Scroll('up')" 
							ng-if="lib.playing.Bottom && !lib.playing.spacer"></div>
						</div>
					</div>
					<div class='progressBar' ng-click="audio.seek($event)" ng-style="{height:lazy.progressHeight}">
						<div class='progress' 							
							ng-class="{noAni:!lib.playing.ani}"
						></div>
					</div>	
					<div class='below'>	
						<div class='icons'>							
							<div class='icon-fullscreen_in' ng-click="fullscreen()" ng-if="lib.playing.type==='youtube'"></div>
						</div>
						<div class='info'>				
							<div class='artist row' ng-click="pin.pin('artist',lib.playing.metadata.artist)" ng-class="{'pinned':pinned.artist === lib.playing.metadata.artist}">
								<span class='cancel icon-cancel'></span>
								{{lib.playing.metadata.artist || '[Unknown]'}}
							</div>	
							<div class='album row' ng-click="pin.pin('album',lib.playing.metadata.album)" ng-class="{'pinned':pinned.album === lib.playing.metadata.album}">
								<span class='cancel icon-cancel'></span>
								{{lib.playing.metadata.album || '[Unknown]'}}
							</div>
						</div>
						<div id='widgets'>
							<div ng-click="dev()" class='icon-settings'></div>
						</div>
						<div class='scroll'>
							<div class='down icon-down' ng-click="lazy.Scroll('down')" 
							ng-if="lib.playing.Top && !lib.playing.spacer"></div>
						</div>
					</div>
					<div id='devinfo' ng-if="dims.dev"><pre>{{lib.devinfo}}</pre></div>
				</div>
				
			</div>
		</div>
	</div>
	<div id='sidebar' ng-style="{width:dims.sidebarWidth, height:dims.sidebarHeight, top:dims.menHeight}">
		<div class='wrap'>
			<div id='youtube-wrap' ng-mousemove="fader()" ng-style="{
				height:dims.vidheight||dims.menHeight
				}" ng-class="{
					novid:!lib.playing.youtube,
					vid:lib.playing.youtube
				}">
				<div id='youtube2' class='small'>
					<webview style="width:100%; height:100%;" id="youtube" httpReferrer="http://youtube.com" ng-src="{{lib.playing.embed}}" preload="./core/modules/musicPlayer/lib/tools/youtube.js"></webview>
					<div id='fullscreen_out' ng-click="fullscreen()" ng-if="isfullscreen">
						<div class='icon-fullscreen_out'></div>
					</div>
					<div id='shadow'></div>
				</div>
			</div>
			<div class='anchor' 
				ng-click="pin.pin('source','local')"
				ng-class = "{
					active:pinned.sources.indexOf('local') > -1,
					dead:pinned.sources.length === 1 && pinned.sources[0]!=='suggestions'
				}"
			>
				<span class='cancel icon-cancel'></span>
				<div>Local</div>
			</div>
			<div class='anchor'
				ng-click="pin.pin('source','online')"
				ng-class = "{
					active:pinned.sources.indexOf('online') > -1,
					dead:pinned.sources.length === 1 && pinned.sources[0]!=='suggestions'
				}"
			>
				<span class='cancel icon-cancel'></span>
				<div>Online</div>
			</div>
			<div class='anchor' 
				ng-click="pin.pin('source','torrents')"
				ng-class = "{
					active:pinned.sources.indexOf('torrents') > -1,
					dead:pinned.sources.length === 1 && pinned.sources[0]!=='suggestions'
				}"
			>
				<span class='cancel icon-cancel'></span>
				<div>Torrents</div>
			</div>
			<div class='anchor' 
				ng-click="pin.pin('source','suggestions')"
				ng-class = "{active:pinned.sources.indexOf('suggestions') > -1}"
			>
				<span class='cancel icon-cancel'></span>
				<div>Suggestions</div>
			</div>
		</div>
		<div class='temp'>
			<div ng-click='db.nuke()'>NUKE!</div>
			<div ng-click='tools()'>Tools</div>
		</div>
		<div id = 'activity'>
			<div ng-if="progress.youtube">Youtube:{{progress.youtube}}</div>
			<div ng-if="progress.internetarchive">Internetarchive:{{progress.internetarchive}}</div>
			<div ng-if="progress.musicbrainz">Musicbrainz:{{progress.musicbrainz}}</div>
		</div>
	</div>
</div>

