<script>
	/*
	Copyright 2017 Michael Jonker (http://openpoint.ie)
	This file is part of The Yolk.
	The Yolk is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	any later version.
	The Yolk is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	You should have received a copy of the GNU General Public License
	along with The Yolk.  If not, see <http://www.gnu.org/licenses/>.
	*/

	Yolk.getModule();
	Yolk.fixChrome();
</script>

<div ng-controller="musicPlayer" id='playframe'>
	<div id='topmen'>
		<div class='icon'><a ng-include="icon" href='#!/home'></a></div>
		<div id='menitems' ng-style="{left:dims.sidebarWidth+15}">
			<div class='item' ng-class="{active:pin.Page==='title'&&!playlist.active}" ng-click="pin.page('title')">
				<span>Track</span>
				<span class='dir' ng-show="playlist.active"></span>
				<span class='dir' ng-show="!playlist.active">
					<span class='fa fa-angle-up' ng-if="pin.direction.title === 'asc' && pin.Page==='title'"></span>
					<span class='fa fa-angle-down' ng-if="pin.direction.title === 'desc' && pin.Page==='title'"></span>
				</span>
			</div>
			<div class='item' ng-class="{active:pin.Page==='artist'}" ng-click="pin.page('artist')">
				<span>Artist</span>
				<span class='dir' ng-show="playlist.active"></span>
				<span class='dir' ng-show="!playlist.active">
					<span class='fa fa-angle-up' ng-if="pin.direction.artist === 'asc' && pin.Page==='artist'"></span>
					<span class='fa fa-angle-down' ng-if="pin.direction.artist === 'desc' && pin.Page==='artist'"></span>
				</span>
			</div>
			<div class='item' ng-class="{active:pin.Page==='album'}" ng-click="pin.page('album')">
				<span>Album</span>
				<span class='dir' ng-show="playlist.active"></span>
				<span class='dir' ng-show="!playlist.active">
					<span class='fa fa-angle-up' ng-if="pin.direction.album === 'asc' && pin.Page==='album'"></span>
					<span class='fa fa-angle-down' ng-if="pin.direction.album === 'desc' && pin.Page==='album'"></span>
				</span>
			</div>
			<div class='item' ng-show="!playlist.active" ng-click="playlist.toggle()">
				<span>Playlists</span>
			</div>
			<div class='item playlist' ng-show="playlist.active">
				<span>Playlist: {{playlist.name}}</span>
			</div>
		</div>
	</div>
	<div id='search' ng-style="{height:dims.searchHeight,width:dims.playwindowWidth,left:dims.sidebarWidth}" ng-show = '!playlist.active'>

		<div ng-show = '!playlist.active' class='left'>
			<div class='leftspace'>
				<div class="icon search" ng-click='search.remoteSearch(searchTerm)' ng-class={active:goSearch}>
					<div class='fa fa-search front'></div>
					<div class='searchfocus'></div>
				</div>
				<div class="cancel">
					<div class="fa fa-times-circle" ng-if="searchTerm" ng-click="pin.clear()"></div>
				</div>
			</div>
			<div class='input'>
				<input ng-model="searchTerm" type='text' placeholder="Search" ng-keypress="search.remoteSearch(searchTerm,$event)" />
				<div class ='hide'></div>
			</div>
		</div>

	</div>
	<div id='sidebar' ng-style="{width:dims.sidebarWidth, height:dims.sidebarHeight, top:dims.menHeight}">
		<div class='wrap'>
			<div class='right section' ng-style="{height:dims.searchHeight}">
				<div class='item stop' ng-show="progress.youtube||progress.internetarchive||progress.musicbrainz" ng-click="stop()">
					<div class='inner'>
						<div class='fa fa-hand-paper-o'></div>
					</div>
				</div>
				<div class='item' ng-class='{active:progress.youtube}'>
					<div class='inner'>
						<div ng-class='{glow:progress.youtube}'></div>
						<div class='icon-youtube'></div>
					</div>
					<!--<div  class='progress' ng-if="progress.youtube">Youtube:{{progress.youtube}}</div>-->
					<div  class='progress' ng-show="progress.youtube">Youtube:<span class='youtube'></span></div>
				</div>
				<div class='item' ng-class='{active:progress.internetarchive}'>
					<div class='inner'>
						<div ng-class='{glow:progress.internetarchive}'></div>
						<div class='icon-internetarchive'></div>
					</div>
					<!--<div  class='progress' ng-if="progress.internetarchive">Internet Archive:{{progress.internetarchive}}</div>-->
					<div  class='progress' ng-show="progress.internetarchive">Internet Archive:<span class='internetarchive'></span></div>
				</div>
				<div class='item' ng-class='{active:progress.musicbrainz}'>
					<div class='inner'>
						<div ng-class='{glow:progress.musicbrainz}'></div>
						<div class='icon-musicbrainz'></div>
					</div>
					<!--<div  class='progress' ng-if="progress.musicbrainz">Musicbrainz:{{progress.musicbrainz}}</div>-->
					<div  class='progress' ng-show="progress.musicbrainz">Musicbrainz:<span class='musicbrainz'></span></div>
				</div>

			</div>
			<div class='section'>
				<div id='filters' ng-show='!playlist.active'>
					<div class='inner'>
						<div class='item button' ng-class="{active:pin.Filter==='recent'}" ng-click="pin.filter('recent')"  ng-show="!playlist.active">Recent</div>
						<div class='item button' ng-class="{active:pin.Filter==='deleted'}" ng-click="pin.filter('deleted')"  ng-show="!playlist.active">Deleted</div>
					</div>
				</div>
			</div>
			<div id='sources' ng-show="pin.Page==='title'">
				<div class='section'>
					<div class='control' ng-click="playlist.toggle()" ng-show="pin.Page === 'title'">
						<div class='title'>Playlists</div>
						<div class='fa fa-lg' ng-class = "{'fa-toggle-on':playlist.active,'fa-toggle-off':!playlist.active}"></div>
					</div>

					<div id = "playlist" ng-show="playlist.active">
						<div class='form'>
							<select name='playlist' id='playlists' ng-model="playlist.selected"  ng-if="playlist.active" ng-change="playlist.change()">
								<option ng-repeat="option in playlist.options track by option.id"  ng-value="option.id">{{option.name}}</option>
							</select>
							<button class='delete' ng-show = "playlist.selected > 1 && playlist.active" ng-click="playlist.deletePlaylist()">Delete active playlist</button>
							<div class='input' ng-if="playlist.active">
								<input ng-model="playlist.new" type='text' placeholder="Create or rename a playlist" ng-keypress="playlist.addPlaylist(playlist.new,$event)" />
							</div>
							<div class='modify' ng-show='playlist.new'>
								<button ng-click="playlist.addPlaylist(playlist.new,'add')">Create</button>
								<div class='spacer' ng-if="playlist.selected > 1"></div>
								<button ng-show="playlist.selected > 1" ng-click="playlist.renamePlaylist()">Rename</button>
							</div>
						</div>
					</div>
					<div class='control' ng-click="pin.source('local')" ng-show="!playlist.active && pin.Page === 'title'">
						<div class='title'>Local</div>
						<div class='fa fa-lg' ng-class = "{'fa-toggle-on':pin.pinned.sources.indexOf('local') > -1,'fa-toggle-off':pin.pinned.sources.indexOf('local') === -1}"></div>
					</div>
					<div class='control' ng-click="pin.source('internetarchive')" ng-show="!playlist.active && pin.Page === 'title'">
						<div class='title'>Internet Archive</div>
						<div class='fa fa-lg' ng-class = "{'fa-toggle-on':pin.pinned.sources.indexOf('internetarchive') > -1,'fa-toggle-off':pin.pinned.sources.indexOf('internetarchive')===-1}"></div>
					</div>
					<div class='control' ng-click="pin.source('youtube')" ng-show="!playlist.active && pin.Page === 'title'">
						<div class='title'>Youtube</div>
						<div class='fa fa-lg' ng-class = "{'fa-toggle-on':pin.pinned.sources.indexOf('youtube') > -1,'fa-toggle-off':pin.pinned.sources.indexOf('youtube')===-1}"></div>
					</div>
					<div class='control' ng-click='fileSelect()' ng-show="!playlist.active && pin.Page === 'title'">
						<div class='title'><span ng-if='!settings.paths.musicDir'>Select</span><span ng-if='settings.paths.musicDir'>Change</span> music folder</div>
						<div class='fa fa-lg' ng-class = "{'fa-folder-open-o':!settings.paths.musicDir,'fa-folder-o':settings.paths.musicDir}"></div>
					</div>
				</div>
			</div>
			<div id='drop' class='section' drop-container on-drop="playlist.onDrop($event, $dragData)" ng-if="playlist.selected > 1">
				<div class='inner'>
					<div>
						<div class='text'>Drag and Drop to playlist:</div>
						<div class='text'>{{playlist.name}}</div>
					</div>
				</div>
			</div>



			<div class='bottom'>
				<div ng-if="isdev">
					<div ng-click = "albums()">Albums</div>
					<div ng-click='nuke()'>NUKE!</div>
					<div onClick="Yolk.remote('chrome')('devtools')">Tools</div>
				</div>

				<div ng-if='tracks.source.type' id='source' class='section'>
					<div class='title'>Playing from {{tracks.source.type}}:</div>
					<div class='source button' ng-click='pin.Source(tracks.source)'>{{tracks.source.name}}</div>
				</div>
				<div id='youtube-wrap' ng-mousemove="fader()"
					ng-class="{novid:!lib.playing.youtube,vid:lib.playing.youtube}">
					<div ng-style="{width:dims.sidebarWidth-1,height:dims.sidebarWidth/2}"
						ng-if="lib.playing.state && !lib.playing.youtube" class='meta'>

						<img cat="artist" id="{{lib.playing.artist}}" ng-src="{{image[lib.playing.artist]}}" yolk-thumb />
						<img cat="album" id="{{lib.playing.album}}" ng-src="{{image[lib.playing.album]}}" yolk-thumb />

						<div class='shadow'></div>
						<div class='shadow right'></div>
					</div>
					<div id='youtube2' class='small'>
						<webview ng-style="{width:isfullscreen?'100%':dims.sidebarWidth-1,height:isfullscreen?'100%':dims.vidheight}"
							id="youtube" src="data:text/plain,"
							preload="{{ytpreload}}"
						></webview>
						<div id='fullscreen_out' ng-click="fullscreen()" ng-if="isfullscreen">
							<div class='icon-fullscreen_out'></div>
						</div>
						<div id='shadow'></div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div id='spin' ng-style="{width:dims.playwindowWidth, height:dims.playwindowHeight}" ng-show='loading'>
		<i class='fa fa-spinner fa-3x fa-pulse'></i>
	</div>
	<div id='playwindow' ng-style="{width:dims.playwindowWidth, height:dims.playwindowHeight}">

		<div id='tracks' ng-style = "dims.dyn">
			<div id='trackspacer' ng-style = "{height:drawers.dpos[pin.Page].spacer}"></div>

			<div id="artists" ng-if="pin.Page === 'artist'">
				<div ng-style="{height:lazy.trackHeight}" class='nothing row' ng-if = "!lib[pin.Page].length && !loading">
					<div class='title'>
						No artists found
						<span ng-if="tools.terms(searchTerm).prefix" class='pinned' ng-click="pin.prefix(tools.terms(searchTerm).prefix)"><span class='fa fa-times-circle'></span> {{tools.terms(searchTerm).prefix}}</span>
						<span ng-if="tools.terms(searchTerm).artist" class='pinned' ng-click="pin.artist(tools.terms(searchTerm).artist)"><span class='fa fa-times-circle'></span> {{tools.terms(searchTerm).artist}}</span>
					</div>
				</div>
				<div ng-repeat="artist in lib[pin.Page]  track by artist.id" class='row'>
					<div class='artist'
						ng-class="artist.filter.zebra"
					>
						<div class='inner' ng-style="{height:lazy.trackHeight}">
							<div class='image' ng-style="{height:lazy.trackHeight,width:lazy.trackHeight+4}" drag-container="true" drag-data="artist">
								<img cat="artist" id = "{{artist.id}}" ng-src="{{image[artist.id]}}" yolk-thumb ng-click = 'drawers.drawer(artist)' />
								<div class='refresh' ng-if="image[artist.id].indexOf('noImage.svg')!==-1" ng-click="refreshart(artist)"><a class='fa fa-refresh'></a></div>
							</div>
							<div class='info'>
								<a ng-if="lib.bios[artist.id].outlink" href="{{lib.bios[artist.id].outlink}}" class='fa fa-wikipedia-w wikilink'></a>
								<div class='title' ng-class="{'pinned':pin.pinned.artist.toLowerCase() === artist.name.toLowerCase()}">
									<div  ng-click="pin.artist(artist.name)">
										<span class='cancel fa fa-times-circle'></span>
										<span>{{lib.bios[artist.id].title || artist.name}}</span>
									</div>

								</div>

								<div class='country' yolk-country>{{countries[artist.country]}}</div>
								<div class='bio' ng-class="{open:drawers.dpos[pin.Page].open===artist.id}">{{lib.bios[artist.id].bio}}</div>

							</div>
							<div class='widgets'>
								<div class='widget' ng-click="dev(artist,'artist')" ng-if="isdev">
									<div class='fa fa-cogs'></div>
								</div>
								<div class = "widget"  ng-if="artist.deleted === 'no'" ng-click="tracks.delete(artist,false,true)">
									<div class='fa fa-times-circle'></div>
								</div>
								<div class = "widget" ng-if="artist.deleted === 'yes' || pin.Filter==='recent'"  ng-click="tracks.undelete(artist,false,true)">
									<div>{{utils.dateDiff(false,artist.date,'ago')}}&nbsp;&nbsp;</div>
									<div ng-if="artist.deleted === 'yes'" class='fa fa-check-circle'></div>
								</div>
							</div>
							<div class='pad'></div>
						</div>

						<div class='drawer' id="drawer{{artist.id}}"  ng-style="{height:drawers.lib[pin.Page][artist.id].height||0}">
							<div class='drawerInner ani-fOut' ng-if="drawers.dpos[pin.Page].open===artist.id">
								<div ng-repeat="album in drawers.lib[pin.Page][artist.id].albums" class="album_image" >
										<img cat="album" id="{{album.id}}" ng-src="{{image[album.id]}}" yolk-thumb ng-if="album.id!=='youtube'" ng-click="pin.tracks(artist.name,album.name,'album')"/>
										<span class='youtube' ng-include="settings.paths.root+'/core/modules/musicPlayer/css/icons/youtube.svg'" ng-if="album.id==='youtube'"  ng-click="pin.tracks(artist.name,album.name,'title')"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="albums" ng-if="pin.Page === 'album'">

				<div ng-style="{height:lazy.trackHeight}" class='nothing row' ng-if = "!lib[pin.Page].length && !loading">
					<div class='title'>
						No albums found
						<span ng-if="tools.terms(searchTerm).prefix" class='pinned' ng-click="pin.prefix(tools.terms(searchTerm).prefix)"><span class='fa fa-times-circle'></span> {{tools.terms(searchTerm).prefix}}</span>
						<span ng-if="tools.terms(searchTerm).artist" class='pinned' ng-click="pin.artist(tools.terms(searchTerm).artist)"><span class='fa fa-times-circle'></span> {{tools.terms(searchTerm).artist}}</span>
						<span  ng-if="tools.terms(searchTerm).album" class='pinned' ng-click="pin.album(tools.terms(searchTerm).album)"><span class='fa fa-times-circle'></span> {{tools.terms(searchTerm).album}}</span>
					</div>
				</div>

				<div ng-repeat="album in lib[pin.Page] track by album.id" class= 'row'>
					<div class='album'
						ng-class="album.filter.zebra"
					>
						<div class='inner' ng-style="{height:lazy.trackHeight}">
							<div class='image' ng-style="{height:lazy.trackHeight,width:lazy.trackHeight+4}" drag-container="true" drag-data="album">
								<img cat="album" id="{{album.id}}" ng-src="{{image[album.id]}}" yolk-thumb onerror="" ng-click = 'drawers.drawer(album)'/>
								<div class='refresh' ng-if="image[album.id].indexOf('noImage.svg')!==-1" ng-click="refreshart(album)"><a class='fa fa-refresh'></a></div>
							</div>
							<div class='info'>

								<div class='title' ng-click="pin.album(album.metadata.title)" ng-class="{'pinned':pin.pinned.album.toLowerCase() === album.metadata.title.toLowerCase()}">
									<span class='cancel fa fa-times-circle'></span>
									<span>{{album.metadata.title}} {{utils.date(album.release_date)}}</span>
								</div>
								<div class='row artist' ng-click="pin.artist(album.metadata.artist)" ng-class="{'pinned':pin.pinned.artist.toLowerCase() === album.metadata.artist.toLowerCase()}">
									<span class='cancel fa fa-times-circle'></span>
									<span>{{album.metadata.artist}}</span>
								</div>
							</div>


							<div class='widgets'>
								<div class='widget' ng-click="dev(album,'album')" ng-if="isdev">
									<div class='fa fa-cogs'></div>
								</div>
								<div class = "widget"  ng-if="album.deleted === 'no'" ng-click="tracks.delete(album,false,true)">
									<div class='fa fa-times-circle'></div>
								</div>
								<div class = "widget" ng-if="album.deleted === 'yes' || pin.Filter==='recent'" ng-click="tracks.undelete(album,false,true)">
									<div>{{utils.dateDiff(false,album.date,'ago')}}&nbsp;&nbsp;</div>
									<div ng-if="album.deleted === 'yes'" class='fa fa-check-circle'></div>
								</div>
							</div>
							<div class='pad'></div>
						</div>
						<div class='drawer' id="drawer{{album.id}}" ng-style="{height:drawers.lib[pin.Page][album.id].height||0}">
							<div class='drawerInner ani-fOut'  ng-if="drawers.dpos[pin.Page].open===album.id">
								<div class="disc" ng-repeat = "disc in drawers.lib[pin.Page][album.id].discs">
									<div class='heading'>Disc {{$index+1}}</div>
									<div class='songs'>
										<div ng-repeat = "track in disc"  ng-click="
										audio.play(drawers.lib[pin.Page][album.id].tracks[track.id],'album')
										" class='track_row'>
											<div class='number'>{{$index+1}}: </div>
											<div class='track' ng-class="{active:drawers.lib[pin.Page][album.id].tracks[track.id].type}">
												{{drawers.lib[pin.Page][album.id].tracks[track.id].metadata.title||track.title}}
												<span ng-if="
												tools.strim(album.metadata.artist) !== tools.strim(drawers.lib[pin.Page][album.id].tracks[track.id].metadata.artist.toLowerCase())
												" class='other_artist'>: {{drawers.lib[pin.Page][album.id].tracks[track.id].metadata.artist}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id='titles' ng-if="pin.Page==='title'">
				<div ng-style="{height:lazy.trackHeight}" class='nothing row' ng-show = "!lib[pin.Page].length && !loading">
					<div class='title'>
						No tracks found
						<span ng-if="tools.terms(searchTerm).prefix" class='pinned' ng-click="pin.prefix(tools.terms(searchTerm).prefix)"><span class='fa fa-times-circle'></span> {{tools.terms(searchTerm).prefix}}</span>
						<span ng-if="tools.terms(searchTerm).artist" class='pinned' ng-click="pin.artist(tools.terms(searchTerm).artist)"><span class='fa fa-times-circle'></span> {{tools.terms(searchTerm).artist}}</span>
						<span  ng-if="tools.terms(searchTerm).album" class='pinned' ng-click="pin.album(tools.terms(searchTerm).album)"><span class='fa fa-times-circle'></span> {{tools.terms(searchTerm).album}}</span>
						<span  ng-if="tools.terms(searchTerm).title" class='pinned' ng-click="pin.album(tools.terms(searchTerm).title)"><span class='fa fa-times-circle'></span> {{tools.terms(searchTerm).title}}</span>
					</div>
					<div class='info'>You can search online from the search bar above</div>
				</div>
				<div ng-repeat="track in lib[pin.Page] track by track.id" class='row'>
					<div class='track'
						ng-class="track.filter.zebra"
						ng-style="{
							height:lazy.trackHeight
						} "
						>
						<div class='inner'>
							<div ng-if='playlist.active && playlist.selected!==1' class='reorder'>
								<div ng-show='playlist.reorder && playlist.reorder!==track.id' drop-container on-drop="playlist.onReorder($event, $dragData, track.id)" class='pad'></div>
							</div>
							<div class='above'>
								<div class='icons' ng-click="audio.play(track,true)">
									<div class='play'>
										<i class='fa fa-play-circle-o'></i>
									</div>
								</div>
								<div ng-if="playlist.selected && playlist.selected!==1">
									<div class='title grab' drag-container="true" drag-data="track" on-drag-end='playlist.reorder=false' on-drag-start="playlist.handleDragStart($event,$dragData)">{{::track.metadata.title || track.file}}</div>
								</div>

								<div ng-if="playlist.selected==1">
									<div class='title'>{{::track.metadata.title || track.file}}</div>
								</div>
							</div>
							<div class='below'>
								<div class='icons'>

								</div>
								<div class='info'>
									<div class='artist row' ng-if="track.metadata.artist" ng-click="pin.artist(track.metadata.artist)" ng-class="{'pinned':(!playlist.active && (pin.pinned.artist.toLowerCase() === track.metadata.artist.toLowerCase())),hover:!playlist.active}">
										<span class='cancel fa fa-times-circle'></span>
										{{::track.metadata.artist}}
									</div>
									<div class='row' ng-if='!track.metadata.artist'>
										[Artist unknown]
									</div>
									<div class='album row' ng-if="track.metadata.album"  ng-click="pin.album(track.metadata.album)" ng-class="{'pinned':!playlist.active && pin.pinned.album.toLowerCase() === track.metadata.album.toLowerCase(),hover:!playlist.active}">
										<span class='cancel fa fa-times-circle'></span>
										{{::track.metadata.album}}
									</div>
									<div class='row' ng-if='!track.metadata.album'>
										[Album unknown]
									</div>
								</div>
								<div class='widgets'>
									<div class='widget' ng-click="dev(track,track.type)" ng-if="isdev">
										<div class='fa fa-cogs'></div>
									</div>
									<div class = "widget"  ng-if="track.deleted === 'no' && (!playlist.active||(playlist.active && playlist.selected!==1))" ng-click="tracks.delete(track)">
										<div class='fa fa-times-circle'></div>
									</div>
									<div class = "widget" ng-if="track.deleted === 'yes' || pin.Filter==='recent'" ng-click="tracks.undelete(track)">
										<div>{{::utils.dateDiff(false,track.date,'ago')}}&nbsp;&nbsp;</div>
										<div ng-if="track.deleted === 'yes'" class='fa fa-check-circle'></div>

									</div>
								</div>
								<div class='pad'></div>
							</div>

						</div>
						<div class='bottom'></div>
					</div>
				</div>
			</div>
			<div id='playing' class='track row'
				ng-if = "lib.playing"
				ng-style="{
					top:lib.playing.top,
				}"
				ng-class="{
					playing:lib.playing.state === 'playing',
					paused:lib.playing.state === 'paused',
				}"
			>

				<div class='inner'
					ng-style="lib.playingstyle"
				>
				<div ng-if='playlist.active && playlist.selected!==1' class='reorder'>
					<div ng-show='playlist.reorder && playlist.reorder!==lib.playing.id' drop-container on-drop="playlist.onReorder($event, $dragData, lib.playing.id)" class='pad'></div>
				</div>
					<div class='above'>
						<div class='icons' ng-click="audio.play(lib.playing)">
							<div ng-show="lib.playing.state==='paused'" class='play'>
								<i class='fa fa-play-circle-o'></i>
							</div>
							<div ng-show="lib.playing.state==='playing'" class='pause'>
								<i class='fa fa-pause-circle-o'></i>
							</div>
						</div>
						<div ng-if="playlist.selected && playlist.selected!==1">
							<div class='title grab' drag-container="true" drag-data="lib.playing" on-drag-end='playlist.reorder=false' on-drag-start="playlist.handleDragStart($event,$dragData)">{{lib.playing.metadata.title || lib.playing.file}}</div>
						</div>

						<div ng-if="playlist.selected==1">
							<div class='title'>{{lib.playing.metadata.title || lib.playing.file}}</div>
						</div>

						<div id='seek'>
							<div class='inside' ng-if="lib.next">
								<div class="icon fa fa-step-forward" ng-click="audio.play(lib.next)" ng-mouseover="lib.nextshow=true" ng-mouseleave="lib.nextshow=false"></div>
								<div ng-show="lib.previous" class="icon fa fa-step-backward" ng-click="audio.play(lib.previous); lib.previous=false" ng-mouseover="lib.prevshow=true" ng-mouseleave="lib.prevshow=false"></div>
								<div class='nextTrack' ng-show="lib.nextshow">{{lib.next.metadata.title}}</div>
								<div class='prevTrack' ng-show="lib.prevshow">{{lib.previous.metadata.title}}</div>
							</div>
						</div>
						<div class='scroll'>
							<div class='up fa fa-arrow-up' ng-click="lazy.Scroll('up')"
							ng-if="lib.playing.Bottom && lib.playing.filter.pos!==-1 && !tracks.source.type"></div>
						</div>
					</div>
					<div class='progressBar' ng-click="audio.seek($event)" ng-style="{height:lazy.progressHeight}" ng-class="{error:audio.error}">
						<div class='buffer ani-fOut' ng-if='audio.buffering && !audio.error'></div>
						<div class='progress'></div>
					</div>
					<div class='below'>
						<div class='icons'>
							<div class='icon-fullscreen_in' ng-click="fullscreen()" ng-if="lib.playing.type==='youtube'&&!playlist.reorder"></div>
						</div>
						<div class='info'>
							<div class='artist row' ng-click="pin.artist(lib.playing.metadata.artist)" ng-class="{'pinned':!playlist.active && pin.pinned.artist.toLowerCase() === lib.playing.metadata.artist.toLowerCase(),hover:!playlist.active}">
								<span class='cancel fa fa-times-circle'></span>
								{{lib.playing.metadata.artist || '[Unknown]'}}
							</div>
							<div class='album row' ng-click="pin.album(lib.playing.metadata.album)" ng-class="{'pinned':!playlist.active && pin.pinned.album.toLowerCase() === lib.playing.metadata.album.toLowerCase(),hover:!playlist.active}">
								<span class='cancel fa fa-times-circle'></span>
								{{lib.playing.metadata.album || '[Unknown]'}}
							</div>
						</div>
						<div class='widgets'>
							<div class='widget' ng-click="dev(lib.playing,lib.playing.type)" ng-if="isdev">
								<div class='fa fa-cogs'></div>
							</div>
							<div class='widget'  ng-show="lib.playing.deleted === 'no'" ng-class="{error:audio.error}" ng-click="tracks.delete(lib.playing,true) ">
								<div class='fa fa-times-circle'></div>
							</div>
							<div class='widget'  ng-show="lib.playing.deleted === 'yes'" ng-click="tracks.undelete(lib.playing,true)">
								<div>{{utils.dateDiff(false,lib.playing.date,'ago')}}&nbsp;&nbsp;</div>
								<div class='fa fa-check-circle'></div>
							</div>
						</div>
						<div class='scroll'>
							<div class='down fa fa-arrow-down' ng-click="lazy.Scroll('down')"
							ng-if="lib.playing.Top && lib.playing.filter.pos!==-1  && !tracks.source.type"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
