<script>
	Yolk.getModule();
	Yolk.fixChrome();
</script>
<div ng-controller="home" id='outer'>
	<div id='topmen'></div>
	<div id='main'>
		<div id='sidebar'>
			<div id='yolk_header'>
				<div id='logo' ng-include="root+'/core/lib/css/icons/yolk2.svg'"></div>
			</div>
			<h2>ALPHA</h2>
			<p>The Yolk is a modular framework that consumes microservices and make sense of data to humans</p>
			<p>It is built on top of the Electron framework and Elasticsearch NOSQL database.</p>
		</div>
		<div id='window'>
			<div id='applications'>
				<h1>Applications:</h1>
				<div class='section'>
					<a ng-repeat="widget in widgets.core" class='widget' ng-href="{{widget.path}}">
						<span ng-if = "widget.icon.fontawesome" class='icon fa fa-2x' ng-class="widget.icon.fontawesome"></span>
						<span class='label'>{{widget.label}}</span>
					</a>
				</div>
			</div>
			<div id='links'>
				<h1>Links:</h1>
				<div class='submit'>
					<div class='fa fa-plus add' ng-class="{active:url}" ng-click = "get(url)"></div>
					<input ng-model="url" ng-class='{error:error}' type='text' placeholder="Enter a URL" ng-keypress="get(url,$event)" />
				</div>
				<div class='section' ng-if='link && link.widgets.length'>
					<div ng-repeat="widget in link.widgets track by widget.url" class='Widget'>
						<a link-widget class='widget' ng-href="#!/link?loc={{widget.url}}">
							<img ng-src="{{widget.icon||noicon}}" on-error-src/>
							<span class='label'>{{widget.title}}</span>
						</a>
						<div class='delete' ng-click="event.stopPropagation();link.delete(widget.url)">
							<div class='inner fa fa-times-circle-o'></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
