html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:'Open Sans',sans-serif;
	color:#302B22;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 {
	font-size:1.2em;
	font-weight:700;
	width:100%;
	padding-bottom:15px;
}
h2{
	font-weight:600;
	margin:8px 0;
}
a{
	color:#302B22;
}
#header{
	padding:10px 0;
	background:#302B22;
	color:white;
	font-family:'Dosis',sans-serif
}
.inner{
	margin:0 auto;
	max-width:900px;
	padding:0 20px;
	position:relative;
}
.section{
	padding:40px 0;
	line-height:1.2em;

}
.intro{
	font-size:1.2em;
	line-height:1.5em;
	font-weight:300;
}
#platform .p{
	display:flex;
	margin:0 -20px;


}
#platform p{
	flex:0 0 50%;
	box-sizing:border-box;
}
.section p{
	padding:0 20px;
}
#header{
	height:90px;
	position:relative;
	margin-bottom:40px;
}
#header .inner{
	display:flex;
	align-items:center;
	justify-content:space-between;
	height:100%;
}
#header #slogan{
	width:960px;
	margin: 0 auto;
	height:100%;
	position:relative;
}
#logo{
	position:absolute;
	right:100%;
	top:-8px;
}
#logo img{
	width:100px;
	height:auto;
}
#slogan{
	font-size:2.5em;
	font-weight:200;
	text-transform:capitalize;
}

.downloads{
	padding-top:5px;
}
.downloads img{
	height:25px;
	width:auto;
	padding:5px;
}
.downloads div{
	border-bottom:1px solid white;
	padding-bottom:2px;
	margin-bottom:4px;
}
#player .p{
	flex:0 0 40%;
	margin-left:-20px;
	line-height:1.2em;
	display:flex;
	flex-direction:column;
	padding-right:10px;
}
#player a{
	display:block;
}
#player img{
	display:block;
	width:100%;
	height:auto!important;
	-webkit-box-shadow: 2px 2px 9px 0px rgba(50, 50, 50, 0.52);
	-moz-box-shadow:    2px 2px 9px 0px rgba(50, 50, 50, 0.52);
	box-shadow:         2px 2px 9px 0px rgba(50, 50, 50, 0.52);
}
#player #intro{
	width:100%;
	display:flex;
}
#player #intro p, .trip .info{
	font-size:.85em;
	opacity:.75;
	padding-bottom:1em;
}
.innote{
	font-size:.7em;
}
.buttons{
	display:flex;
	padding:0 15px;
	flex:1 0;
	align-items:flex-end;
}
.button{
	flex:1 0 auto;
	padding:8px;
	margin:5px;
	text-align:center;
	border:1px solid #302B22;
	text-decoration:none;
}
#footer{
	border-top:1px solid #302B22;
	padding:60px 0;
	background:#E7E7E7;
	min-height:500px;
	text-align:center;
	opacity:.75;
}

#footer img{
	height:1.25em;
	margin-right:.25em;
}
#footer h2 a{

	padding:0 10px;
	border-bottom:1px solid #302B22;
}
#footer a{
	text-decoration:none;
}
#footer a:hover{
	opacity:1!important;
}
#footer p{
	line-height:1.5em;
	padding:20px 0;
}
.trips{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	padding:20px 0;
}
.trip{
	flex:0 0 30%;

}
.os{
	text-align:center;
	margin-bottom:10px;
}
.os img{
	height:40px;
	opacity:.75;
	width:auto;
}
#downloads .download{
	display:block;
	padding:10px 0;
	text-decoration:none;
	color:#302B22;
}
#downloads h1{
	text-align:center;
	border-bottom:1px solid #302B22;
	margin-bottom:10px;
}
#older{
	margin-top:40px;
	margin-bottom:10px;
}
