<script>
	Yolk.getModule();
	Yolk.fixChrome();
</script>

<div ng-controller="boot" id='outer'>
	<div id='topmen'></div>
	<div id='main'>
		<div id='yolk_header' ng-if="root">
			<div id='logo' class='throb' ng-include="root+'/core/lib/css/icons/yolk2.svg'"></div>
		</div>
		<div class='message'>
			<div>{{installed.message}}</div>
			<div class = 'float'>
				<div ng-if="installed.progress">{{installed.progress}}</div>
				<div class="log" ng-if="installed.log">{{installed.log}}</div>
			</div>
		</div>

	</div>
</div>
